@import '../../../scss/breakpoints.scss';

.social {
  position: relative;
  left: -15px;
  padding-top: 150px;
}

@media (max-width: $mobile-max) {
  .social {
    display: none;
  }
}

@media (min-width: $mobile-max) and (max-width: $tablet-max) {
  .social {
    display: none;
  }
}
