@import '../../../scss/breakpoints.scss';

.right {
  width: 50%;
  background-image: url('../../../images/contact_dante_lejer.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: $mobile-max) {
  .right {
    display: none;
  }
}

@media (min-width: $mobile-max) and (max-width: $tablet-max) {
  .right {
    display: none;
  }
}
