@import '../../../../../scss/breakpoints.scss';

.contactItem {
  text-align: center;
  color: #F2EAD9;

  .title {
    font-size: 40px;
    font-weight: bolder;
    padding-bottom: 15px;
  }

  .description {
    font-size: 20px;
    white-space: nowrap;
  }

  &:last-child {
    padding-left: 0;
    padding-top: 20px;
  }
}


@media (max-width: $mobile-max) {
  .contactItem {
    .title {
      font-size: 20px;
    }

    .description {
      font-size: 14px;
    }
  }
}

@media (min-width: $tablet-max) {
  .contactItem {
    &:last-child {
      padding-top: 0;
      padding-left: 50px;
    }
  }
}
