@import '../../../../scss/breakpoints.scss';

.item {
  position: relative;
  display: flex;
  padding-top: 150px;
  align-items: center;
  justify-content: center;
}

.reverse {
  flex-direction: row-reverse;
}

.video {
  flex-direction: column;
}

@media (max-width: $mobile-max) {
  .item {
    padding-top: 100px;
    flex-direction: column;
  }
}

@media (min-width: $mobile-max) and (max-width: $tablet-max) {
  .item {
    padding-top: 100px;
    flex-direction: column;
    align-items: flex-start;
  }
}
