@import '../../../scss/breakpoints.scss';

.left {
  width: 50%;
  background-color: #F07763;
  padding: 50px;
}

@media (max-width: $mobile-max) {
  .left {
    width: 100%;
  }
}

@media (min-width: $mobile-max) and (max-width: $tablet-max) {
  .left {
    width: 100%;
  }
}
