@import '../../../../../scss/breakpoints.scss';

.mobileImage {
  display: none;
}

@media (max-width: $mobile-max) {
  .mobileImage {
    display: block;
    width: 90%;
    height: 240px;
    object-fit: cover;
  }

  .inVideo {
    display: none;
  }
}



@media (min-width: $mobile-max) and (max-width: $tablet-max) {
  .mobileImage {
    display: none;
  }
}
