@import './breakpoints';

.about {
  position: relative;
  background-color: #21386E;
  height: 100vh;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;

  .section-title {
    padding-right: 220px;
  }

  .background {
    position: relative;
    top: -80px;
    left: -45px;
    width: 30%;
    transition: 0.5s;
    transform-origin: 0 0;

    .color {
      width: 100%;
      height: 100%;
      background-color: #234592;
      opacity: 0.9;
      position: absolute;
      top: 0;
      left: 0;
      transition: 0.5s;
    }

    &:hover {
      transform: scale(1.2);

      .color {
        opacity: 0;
      }
    }
  }

  .image {
    width: 100%;
    height: 100%;
  }

  .content {
    .art {
      display: flex;
      justify-content: center;

      .description {
        color: #fff;
        font-size: 20px;
        line-height: 1.5;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 1px;
        max-width: 800px;
        text-align: justify;
        padding: 30px;
        position: relative;
        z-index: 1;
      }
    }
  }
  
  .background-element {
    position: absolute;
    bottom: 0;
    pointer-events: none;
    width: 100%;
  }
}

@media (max-width: $mobile-max) {
  .about {
    min-height: 670px;

    .section-title {
      padding-right: 0;
    }

    .content {
      .art {
        flex-direction: column;
        align-items: center;

        .background {
          width: 50%;
          top: 0;
          left: 0;
        }

        .description {
          font-size: 14px;
          line-height: 19px;
          overflow: hidden;
        }
      }
    }

    .background-element {
      display: none;
    }
  }
}

@media (min-width: $mobile-max) and (max-width: $tablet-max) {
  .about {
    min-height: 1200px;

    .section-title {
      padding-right: 0;
    }

    .content {
      .art {
        flex-direction: column;
        align-items: center;

        .background {
          width: 60%;
          top: 0;
          left: 0;
        }

        .description {
          font-size: 20px;
          line-height: 40px;
          overflow: hidden;
        }
      }
    }

    .background-element {
      display: none;
    }
  }
}
