.arrow {
  position: relative;
  cursor: pointer;

  &__inner {
    position: absolute;
    width: 0;
    height: 0;
    background-color: #F07763;
    border-radius: 50%;
    transition: 0.2s;
    top: 50%;
    left: 50%;
  }

  &__pointer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    svg {
      width: 10px;
      transition: 0.3s;

      * {
        stroke: #F07763;
      }
    }
  }

  img {
    width: 50px;
    transition: 0.2s;
  }

  &:hover {
    .arrow__inner {
      width: 60px;
      height: 60px;
      top: -4px;
      left: -5px;
    }

    .arrow__pointer {
      svg {
        width: 15px;

        * {
          stroke: #fff;
        }
      }
    }

    img {
      transform: scale(1.5);
    }
  }
}
