.full-screen-menu {
  display: none;

  &--open {
    display: block;
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: #20386E;
    top: 0;
    left: 0;
  }

  &__close {
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
  }

  &__title {
    font-family: Athene, serif;
    font-size: 90px;
    text-align: center;
    color: #EF7663;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    padding-top: 40px;

    a {
      display: inline-block;
      padding-top: 10px;
      color: #F2EAD9;
      text-decoration: none;
    }
  }

  .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    left: 0;

    &-item {
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #fff;
      margin-top: 10px;
    }
  }
}
