@import './breakpoints';

.section-title {
  font-family: Athene, sans-serif;
  color: #F2EAD9;
  display: flex;
  justify-content: center;
  user-select: none;

  &__text {
    position: relative;
    z-index: 1;

    div {
      position: absolute;
      font-size: 1vw;
      transform: rotate(90deg);
      left: -12%;
      bottom: 50%;
    }

    h2 {
      font-size: 6vw;
      text-transform: uppercase;
    }
  }

  &--orange {
    color: #F07763;
  }

  &--flex-start {
    justify-content: flex-start;
  }

  &--more-space {
    .section-title__text {
      div {
        left: -20%;
      }
    }
  }
}

@media (max-width: $mobile-max) {
  .section-title {
    &__text {
      top: 20px;

      div {
        position: absolute;
        font-size: 12px;
        transform: rotate(90deg);
        left: -22%;
        bottom: 30%;
      }

      h2 {
        font-size: 40px;
      }
    }

    &--flex-start {
      justify-content: center;
    }

    &--more-space {
      .section-title__text {
        div {
          left: -35%;
        }
      }
    }
  }
}

@media (min-width: $mobile-max) and (max-width: $tablet-max) {
  .section-title {
    &__text {
      top: 20px;

      div {
        position: absolute;
        font-size: 20px;
        transform: rotate(90deg);
        left: -14%;
        bottom: 50%;
      }

      h2 {
        font-size: 100px;
      }
    }

    &--flex-start {
      justify-content: center;
    }

    &--more-space {
      .section-title__text {
        div {
          left: -24%;
        }
      }
    }
  }
}
